<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>UrTourn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <link rel="stylesheet" href="{% static 'css/messages.css' %}">
</head>
<body>
  <div>
    <div class="ui inverted vertical masthead center aligned segment">
      <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
          <a class="item" href="{% url 'UrTourn.views.home' %}">Home</a>
          <a class="item" href="{% url 'UrTourn.views.tournaments' %}">Social Media</a>
          <a class="item" href="{% url 'UrTourn.views.players' %}">Players</a>
          <a class="item" href="{% url 'UrTourn.views.players' %}">Teams</a>
          <a class="item" href="{% url 'UrTourn.views.tournaments' %}">Tournaments</a>
          <div class="right item">
          {% if user.is_authenticated %}
            <div class="ui simple dropdown item">
              <a href="{% url 'UrTourn.views.profile' %}">{{ user.username }}</a><i class="dropdown icon"></i>
              <div class="floating ui red label">!</div>
              <div class="menu">
                <a class="item">
                  <i class="bell icon"></i> Notifications
                  <div class="floating ui red label">!</div>
                </a>
                <a class="item" href="{% url 'UrTourn.views.messages' %}?q=inbox">
                  <i class="envelope icon"></i> Messages
                  {% if newMessages = True %}
                  <div class="floating ui red label">!</div>
                  {% endif %}
                </a>
                <a class="item">
                  <i class="settings icon"></i> Settings
                </a>
                <a class="item" href="{% url 'UrTourn.views.userLogout' %}">
                  <i class="sign-out icon"></i> Log Out
                </a>
              </div>
            </div>
          {% else %}
            <a class="ui inverted button" href="{% url 'UrTourn.views.userLogin' %}">Log in</a>
            <a class="ui inverted button" href="{% url 'UrTourn.views.signup' %}">Sign Up</a>
          {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
    <div class="ui two column relaxed grid">
      <div class="three wide column">
        <div class="ui vertical menu">
          <div class="item">
            <a class="active purple item" href="{% url 'UrTourn.views.create_message' %}">
              <i class="chat outline icon"></i>
              Compose Message
            </a>
          </div>
          {% if request.GET.q == "inbox" %}
          <a class="active purple item" href="{% url 'UrTourn.views.messages' %}?q=inbox">
          {% else %}
          <a class="purple item" href="{% url 'UrTourn.views.messages' %}?q=inbox">
          {% endif %}
            Inbox
            {% if request.GET.q == "inbox" %}
            <div class="ui purple left pointing label">{{ inboxCount }}</div>
            {% else %}
            <div class="ui label">{{ inboxCount }}</div>
            {% endif %}
          </a>
          {% if request.GET.q == "sent" %}
          <a class="active purple item" href="{% url 'UrTourn.views.messages' %}?q=sent">
          {% else %}
          <a class="purple item" href="{% url 'UrTourn.views.messages' %}?q=sent">
          {% endif %}
            Sent
            {% if request.GET.q == "sent" %}
            <div class="ui purple left pointing label">{{ sentCount }}</div>
            {% else %}
            <div class="ui label">{{ sentCount }}</div>
            {% endif %}
          </a>
          <div class="item">
            <div class="ui transparent icon input">
              <form method='GET' action=''>
                <input method='GET' action='' type="text" name='q' placeholder="Search mail...">
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="eight wide column">
      {% for message in messages %}
        <div class="ui segment">
          <div class="ui grid">
            {% if message.read == False and request.GET.q == "inbox"%}
            <div class="floating ui red label">NEW</div>
            {% endif %}
            <div class="three wide column">
              <a href="{% url 'UrTourn.views.profiles' Username=message.sender.username %}">
                <img class="ui image" src="{{MEDIA_ROOT}}{{message.sender.profile.profile_image.url}}" alt="">
              </a>
            </div>
            <div class="twelve wide column">
              <h4><a href="{% url 'UrTourn.views.profiles' Username=message.sender.username %}">{{ message.sender }}</a></h4>
              <h5>{{ message.subject }}</h5>
              <h5>{{ message.created_at }}</h5>
              <h5><a href="{% url 'UrTourn.views.message' index=message.id %}">View Message</a></h5>
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
</body>
</html>
