<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <title>UrTourn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.css">
    <link rel="stylesheet" href="{% static 'css/playerProfile.css' %}">
</head>
<body>
    <div>
        <div class="ui inverted menu">
            <div class="left menu">
                <a class="ui purple large header" href="/">URTOURN.GG</a>
            </div>
            <div class="right menu">
                <a href="/"><button class="ui inverted grey button">Social Media</button></a>
                <a href="{% url 'UrTourn.views.players' %}"><button class="ui grey button">Players</button></a>
                <a href="/"><button class="ui inverted grey button">Teams</button></a>
                <a href="{% url 'UrTourn.views.tournaments' %}"><button class="ui inverted grey button">Tournaments</button></a>
                <a href="{% url 'UrTourn.views.profile' %}"><button class="ui inverted purple button">Profile</button></a>
            </div>
        </div>
    </div>
    <br>
    <form method='GET' action=''>
      <input type='text' name='q' placeholder='Search...' />
    </form> 
    <br>
    <table class="ui celled padded table">
  <thead>
    <tr>
      <th class="two wide">Player</th>
      <th>Gamertag</th>
      <th>Favorite Games</th>
    </tr>
  </thead>
  <tbody>
    {% for player in players %}
    <tr>
      <td>
      {% if user.profile.profile_image %}
        <a href="{% url 'UrTourn.views.profiles' Username=player.username %}">
          <img class="ui image" src="{{MEDIA_ROOT}}{{player.profile.profile_image.url}}" alt="" width=150px>
          <h3>{{ player.username }}</h3>
        </a>
      {% else %}
        <a href="{% url 'UrTourn.views.profiles' Username=player.username %}">{{ player.username }}</a>
      {% endif %}
      </td>
      <td>
        {{ player.profile.gamertag }}
      </td>
      <td>
        {{ player.profile.favorite_games }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot>
    <tr><th colspan="3">
      <div class="ui right floated pagination menu">
        <a class="icon item">
          <i class="left chevron icon"></i>
        </a>
        <a class="item">1</a>
        <a class="item">2</a>
        <a class="item">3</a>
        <a class="item">4</a>
        <a class="icon item">
          <i class="right chevron icon"></i>
        </a>
      </div>
    </th>
  </tr></tfoot>
</table>
</body>
</html>
