<html>
<head>
<title>{{ user.username }}</title>
{% load static %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
</head>

<body>
<p>
<!-- Username -->
{{ request.user }}
</p>
<!-- Logout Button -->
<p>
<a href="#" onClick="document.getElementById('logoutform').submit()"><button type="button">Logout</button></a>
<form id="logoutform" method="POST" action="{% url 'UrTourn.views.userLogout' %}">
{% csrf_token %}
</form>
</p>
<!-- Edit Button -->
<p>
<a href="{% url 'UrTourn.views.update_profile' %}"><button type="button">Edit</button></a>
</p>
<body>
	<h2>Username: {{ user.username }}</h2>
	<h2>User Full name: {{ user.get_full_name }}</h2>
	<h2>Email: {{ user.email }}</h2>
	<h2>Session Started at: {{ user.last_login }}</h2>
        <h2>Bio: {{ user.profile.bio }}</h2>
    	<h2>Location: {{ user.profile.location }}<h2>
        <h2>Birthday: {{ user.profile.birth_date }}<h2>
        <h2>Rank: {{ user.profile.rank }}</h2>
	<h1>Posts</h1>
	<br/><br/>
	{% for post in allposts %}
	<a href="/posts/{{post.id}}">{{ post.title }}</a>
	<br/><br/>
	{% endfor %}
</body>
